			<key>MLB</key>
			<string>C02953101CD0000UE</string>
			<key>ProcessorType</key>
			<integer>0</integer>
			<key>ROM</key>
			<data>ESIzRFVm</data>
			<key>SystemProductName</key>
			<string>MacBookPro16,3</string>
			<key>SystemSerialNumber</key>
			<string>C02C101XP3XY</string>
			<key>SystemUUID</key>
			<string>BEC04D84-6FE2-466A-9965-9318D16106A6</string>
